<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="wap-font-scale" content="no">
    <meta name="keywords" content="账户管理">
    <meta name="description" content="账户管理">
    <title>账户管理</title>
    <link rel="stylesheet" type="text/css" href="../css/th-common.css">
    <link rel="stylesheet" type="text/css" href="../css/myth.css">
</head>

<body class="brand">
    <header>
        <div class="th-nav wbox">
            <div class="th-nav-back"><a href="javascript:history.go(-1);">返回</a></div>
            <div class="th-nav-title of bg">账户管理</div>
            <div class="th-nav-right tr pr">
                <img onclick="$('#sub-title').toggle();$('#screenIfmNav').toggle();" src="../images/more.png" style="width:1rem;">
                <ul class="nav-more-list" id="sub-title">
                    <li><a class="nav-more-icon home-icon" href="">首页</a></li>
                    <li><a class="nav-more-icon cart-icon" href="">购物车</a></li>
                    <li><a class="nav-more-icon search-icon" href="">全部分类</a></li>
                    <li><a class="nav-more-icon cate-icon" href="">搜索</a></li>
                    <li><a class="nav-more-icon ebuy-icon" href="">我的通惠</a></li>
                    <li><a class="nav-more-icon refresh-icon" href="javascript:location.reload()">刷新</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="w">
        <div class="th-main">
            <ul class="form-list th-block">
                <li >
                <a href="address.html" class="input-block wbox">
                    <p class="wbox-flex">地址管理</p>
                     
                    <div class="arrow arrow-right "></div>
                    </a>
                    <li id="sex_choice" >
             <a href="account.html" class="input-block wbox">
                        <p class="wbox-flex">账号安全</p>
                        <div class="arrow arrow-right"></div>
                </a>
                    </li>
            </ul>
        </div>
    </div>
    <script src="http://apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js"></script>
    <script type="text/javascript" src="js/myth.js"></script>
</body>

</html>
