<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="wap-font-scale" content="no">
    <meta name="keywords" content="我的积分">
    <meta name="description" content="我的积分">
    <title>我的积分</title>
    <link rel="stylesheet" type="text/css" href="../css/th-common.css">
    <link rel="stylesheet" type="text/css" href="../css/myth.css">
</head>

<body>
    <header>
        <div class="th-nav wbox">
            <div class="th-nav-back"><a href="javascript:history.go(-1);">返回</a></div>
            <div class="th-nav-title of bg">我的积分</div>
 
        </div>
    </header>
    <div class="w">
        <div class="th-main">
            <div id="example-one" class="th-block w33">
                <ul class="nav title-list cf">
                    <li class="filter-item on">全部</li>
                    <li class="filter-item">收入</li>
                    <li class="filter-item">支出</li>
                    <p><b></b></p>
                </ul>
                <div class="list-wrap">
                    <div class="product show">
                        <ul class="result-hot-pro point">
                            <li>
                                <a href="www.thgo8.com">
                                    <div class="img">
                                        <div class="img-occupied lazyimg">
                                            <img alt="海尔冰箱BCD-408WDCAU1" src="https://img.thgo8.com/assets/images/04/27/main_588b4c16a497c2265a4173b4b5bf2f200360a54f.jpg">
                                        </div>
                                    </div>
                                    <div class="txt">
                                        <p class="name">海尔冰箱BCD-408WDCAU1海尔冰箱BCD-408WDCAU1海尔冰箱BCD-408WDCAU1</p>
                                        <div class="point-tit">
                                            <p class="price-box">
                                                <em class="price-num red">购物送积分<strong>+1599</strong></em>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="www.thgo8.com">
                                    <div class="img">
                                        <div class="img-occupied lazyimg">
                                            <img alt="海尔冰箱BCD-408WDCAU1" src="https://img.thgo8.com/assets/images/04/27/main_588b4c16a497c2265a4173b4b5bf2f200360a54f.jpg">
                                        </div>
                                    </div>
                                    <div class="txt">
                                        <p class="name">海尔冰箱BCD-408WDCAU1海尔冰箱BCD-408WDCAU1海尔冰箱BCD-408WDCAU1</p>
                                        <div class="point-tit">
                                            <p class="price-box">
                                                <em class="price-num red">购物送积分<strong>+1599</strong></em>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product">
                        <ul class="result-hot-pro point">
                            <li>
                                <a href="www.thgo8.com">
                                    <div class="img">
                                        <div class="img-occupied lazyimg">
                                            <img alt="海尔冰箱BCD-408WDCAU1" src="https://img.thgo8.com/assets/images/04/27/main_588b4c16a497c2265a4173b4b5bf2f200360a54f.jpg">
                                        </div>
                                    </div>
                                    <div class="txt">
                                        <p class="name">海尔冰箱BCD-408WDCAU1海尔冰箱BCD-408WDCAU1海尔冰箱BCD-408WDCAU1</p>
                                        <div class="point-tit">
                                            <p class="price-box">
                                                <em class="price-num red">购物送积分<strong>+1599</strong></em>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="www.thgo8.com">
                                    <div class="img">
                                        <div class="img-occupied lazyimg">
                                            <img alt="海尔冰箱BCD-408WDCAU1" src="https://img.thgo8.com/assets/images/04/27/main_588b4c16a497c2265a4173b4b5bf2f200360a54f.jpg">
                                        </div>
                                    </div>
                                    <div class="txt">
                                        <p class="name">海尔冰箱BCD-408WDCAU1海尔冰箱BCD-408WDCAU1海尔冰箱BCD-408WDCAU1</p>
                                        <div class="point-tit">
                                            <p class="price-box">
                                                <em class="price-num red">购物送积分<strong>+1599</strong></em>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                             <div class="product">
                        <ul class="result-hot-pro point">
                            <li>
                                <a href="www.thgo8.com">
                                    <div class="img">
                                        <div class="img-occupied lazyimg">
                                            <img alt="海尔冰箱BCD-408WDCAU1" src="https://img.thgo8.com/assets/images/04/27/main_588b4c16a497c2265a4173b4b5bf2f200360a54f.jpg">
                                        </div>
                                    </div>
                                    <div class="txt">
                                        <p class="name">海尔冰箱BCD-408WDCAU1海尔冰箱BCD-408WDCAU1海尔冰箱BCD-408WDCAU1</p>
                                        <div class="point-tit">
                                            <p class="price-box">
                                                <em class="price-num green">购物送积分<strong>-1599</strong></em>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="www.thgo8.com">
                                    <div class="img">
                                        <div class="img-occupied lazyimg">
                                            <img alt="海尔冰箱BCD-408WDCAU1" src="https://img.thgo8.com/assets/images/04/27/main_588b4c16a497c2265a4173b4b5bf2f200360a54f.jpg">
                                        </div>
                                    </div>
                                    <div class="txt">
                                        <p class="name">海尔冰箱BCD-408WDCAU1海尔冰箱BCD-408WDCAU1海尔冰箱BCD-408WDCAU1</p>
                                        <div class="point-tit">
                                            <p class="price-box">
                                                <em class="price-num green">购物送积分<strong>-1599</strong></em>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://apps.bdimg.com/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {
        //切换

        $('.title-list li').mouseover(function() {
            var liindex = $('.title-list li').index(this);
            $(this).addClass('on').siblings().removeClass('on');
            $('.list-wrap div.product').eq(liindex).fadeIn(150).siblings('div.product').hide();
            var liWidth = $('.title-list li').width();
            $('#example-one .title-list p').stop(false, true).animate({
                'left': liindex * liWidth + 'px'
            }, 300);
        });


    });
    </script>
</body>

</html>
