<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="wap-font-scale" content="no">
    <meta name="keywords" content="我的余额">
    <meta name="description" content="我的余额">
    <title>我的余额</title>
    <link rel="stylesheet" type="text/css" href="../css/th-common.css">
    <link rel="stylesheet" type="text/css" href="../css/yck.css">
</head>

<body class="brand">
    <header>
        <div class="th-nav wbox">
            <div class="th-nav-back"><a href="javascript:history.go(-1);">返回</a></div>
            <div class="th-nav-title of bg">我的余额</div>
            <div class="th-nav-right tr pr">
                <a href="yckPay.html">
               充值
               </a>
            </div>
        </div>
    </header>
    <div class="w">
        <div class="th-main">
            <div id="example-one" class="th-block w25">
                <ul class="nav title-list cf">
                    <li class="filter-item on">全部</li>
                    <li class="filter-item">充值记录</a>
                    </li>
                    <li class="filter-item">排点记录</li>
                    <li class="filter-item">消费记录</li>
                    <p><b></b></p>
                </ul>
                <div class="list-wrap  th-none">
                    <div class="product show">
                        <ul class="pay-result-list">
                            <li>
                                <div class="listwrap">
                                    <div class="listli">
                                        <span class="time-icon ico"></span>
                                        <span class="tit-name">时&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp间</span>
                                        <span class="tit-set wbox-flex">2016/06/18</span>
                                    </div>
                                    <div class="listli">
                                        <span class="sj-icon ico"></span>
                                        <span class="tit-name">事&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp件</span>
                                        <span class="tit-set wbox-flex">每天排点返利</span>
                                    </div>
                                    <div class="listli">
                                        <span class="je-icon ico"></span>
                                        <span class="tit-name">金&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp额</span>
                                        <span class="tit-set wbox-flex">10000000</span>
                                    </div>
                                    <div class="listli brn">
                                        <span class="ye-icon ico"></span>
                                        <span class="tit-name">当前余额</span>
                                        <span class="tit-set wbox-flex">0.002</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="listwrap">
                                    <div class="listli">
                                        <span class="time-icon ico"></span>
                                        <span class="tit-name">时&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp间</span>
                                        <span class="tit-set wbox-flex">2016/06/18</span>
                                    </div>
                                    <div class="listli">
                                        <span class="sj-icon ico"></span>
                                        <span class="tit-name">事&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp件</span>
                                        <span class="tit-set wbox-flex">每天排点返利</span>
                                    </div>
                                    <div class="listli">
                                        <span class="je-icon ico"></span>
                                        <span class="tit-name">金&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp额</span>
                                        <span class="tit-set wbox-flex">10000000</span>
                                    </div>
                                    <div class="listli brn">
                                        <span class="ye-icon ico"></span>
                                        <span class="tit-name">当前余额</span>
                                        <span class="tit-set wbox-flex">0.002</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="listwrap">
                                    <div class="listli">
                                        <span class="time-icon ico"></span>
                                        <span class="tit-name">时&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp间</span>
                                        <span class="tit-set wbox-flex">2016/06/18</span>
                                    </div>
                                    <div class="listli">
                                        <span class="sj-icon ico"></span>
                                        <span class="tit-name">事&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp件</span>
                                        <span class="tit-set wbox-flex">每天排点返利</span>
                                    </div>
                                    <div class="listli">
                                        <span class="je-icon ico"></span>
                                        <span class="tit-name">金&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp额</span>
                                        <span class="tit-set wbox-flex">10000000</span>
                                    </div>
                                    <div class="listli brn">
                                        <span class="ye-icon ico"></span>
                                        <span class="tit-name">当前余额</span>
                                        <span class="tit-set wbox-flex">0.002</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="listwrap">
                                    <div class="listli">
                                        <span class="time-icon ico"></span>
                                        <span class="tit-name">时&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp间</span>
                                        <span class="tit-set wbox-flex">2016/06/18</span>
                                    </div>
                                    <div class="listli">
                                        <span class="sj-icon ico"></span>
                                        <span class="tit-name">事&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp件</span>
                                        <span class="tit-set wbox-flex">每天排点返利</span>
                                    </div>
                                    <div class="listli">
                                        <span class="je-icon ico"></span>
                                        <span class="tit-name">金&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp额</span>
                                        <span class="tit-set wbox-flex">10000000</span>
                                    </div>
                                    <div class="listli brn">
                                        <span class="ye-icon ico"></span>
                                        <span class="tit-name">当前余额</span>
                                        <span class="tit-set wbox-flex">0.002</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="product">
                        <ul class="pay-result-list">
                            <li>
                                <div class="listwrap">
                                    <div class="listli">
                                        <span class="time-icon ico"></span>
                                        <span class="tit-name">时&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp间</span>
                                        <span class="tit-set wbox-flex">2016/06/18</span>
                                    </div>
                                    <div class="listli">
                                        <span class="sj-icon ico"></span>
                                        <span class="tit-name">事&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp件</span>
                                        <span class="tit-set wbox-flex">每天排点返利</span>
                                    </div>
                                    <div class="listli">
                                        <span class="je-icon ico"></span>
                                        <span class="tit-name">金&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp额</span>
                                        <span class="tit-set wbox-flex">10000000</span>
                                    </div>
                                    <div class="listli brn">
                                        <span class="ye-icon ico"></span>
                                        <span class="tit-name">当前余额</span>
                                        <span class="tit-set wbox-flex">0.002</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="product">456
                    </div>
                    <div class="product">456
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {
        //切换

        $('.title-list li').mouseover(function() {
            var liindex = $('.title-list li').index(this);
            $(this).addClass('on').siblings().removeClass('on');
            $('.list-wrap div.product').eq(liindex).fadeIn(150).siblings('div.product').hide();
            var liWidth = $('.title-list li').width();
            $('#example-one .title-list p').stop(false, true).animate({
                'left': liindex * liWidth + 'px'
            }, 300);
        });


    });
    </script>
</body>

</html>
