<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="wap-font-scale" content="no">
    <meta name="keywords" content="余额充值">
    <meta name="description" content="余额充值">
    <title>余额充值</title>
    <link rel="stylesheet" type="text/css" href="../css/th-common.css">
    <link rel="stylesheet" type="text/css" href="../css/yck.css">
</head>

<body class="brand">
    <header>
        <div class="th-nav wbox">
            <div class="th-nav-back"><a href="javascript:history.go(-1);">返回</a></div>
            <div class="th-nav-title of bg">余额充值</div>
        </div>
    </header>
    <div class="w">
        <div class="th-main th-block">
            <div class="payWrap">
                <div class="payId">
                    <div class="r_icon"> </div>
                    <div class="payacc">
                        <div class="payrun">
                            <p>充值账号:<em>0071555566</em></p>
                        </div>
                    </div>
                    <div class="pay-current">当前余额:<em>368888</em>元</div>
                </div>
            </div>
        </div>
        <div class="th-main th-block pay">
            <div class="pay-block wbox ">
                <label for="payup">金额</label>
                <div class="wbox-flex ml30">
                    <input id="payup" maxlength="50" type="text" autocomplete="off" placeholder="请输入充值金额" value="">
                </div>
            </div>
        </div>

            <a id="NickName" href="javascript:void(0)" class="js-btn th-btn th-btn-big  th-btn-block m30 th-btn-dark th-btn-positive">下一步</a>
    </div>
    <!--选择地区弹层-->
    <!--遮罩层-->
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
</body>

</html>
