    $scrllerColor:#666;
    $activeColor:#FF3838;
    $yellowColor: #F5A623;
    $borderColor:#dedede;
    $redColor:#ED0E47;
    $blueColor:#0066ff;
    .black000 {
        color: #000
    }

    .redCor {
        color: $redColor
    }

    .blueCor {
        color: $blueColor
    }

    .fl {
        float: left;
    }

    .fr {
        float: right;
    }

    .cl {
        float: both;
    }

    .tl {
        text-align: left;
    }

    .tr {
        text-align: right;
    }

    .tc {
        text-align: center;
    }

    .w120 {
        width: 1.2rem;
    }

    .mt20 {
        margin-top: .2rem;
    }

    .app-pro-holder {
        position: relative;
        max-width: 15rem;
    }

    .app-scroller-wrap {
        width: 100%;
        height: .8rem;
        position: relative;
        background-color: #763A0A;
        margin-bottom: .2rem;

        /* winphone8和android4+ */
        -webkit-overflow-scrolling: touch;
        overflow-y: hidden;
        z-index: 100;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .app-scroller {
        position: absolute;
        left: 0;
        display: table;
        table-layout: fixed;
        padding-right: 0.1rem;
        white-space: nowrap;

        width: auto;
        font-size: 0;

        li {
            height: .8rem; // padding:0 2rem;
            -webkit-box-flex: 1;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            list-style: none;
            a {
                height: .8rem;
                color: #FFD8B9;
                padding: 0 .2rem;
                /*padding: 0 .2rem;*/
                display: block;
            }
            &.act a {
                color: $yellowColor;
            }
            &.act {
                /*pointer-events:none;*/
            }
        }
    }

    .choose-items-wp {
        position: relative;
        li {
            span {
                font-size: .28rem;
                height: .8rem;

                line-height: .8rem;
                display: inline-block;
                &.quick-box {
                    margin: 0 auto;
                    height: .4rem;
                    width: .4rem;
                    display: block;
                    background-size: .4rem .4rem; // background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #333), color-stop(100%, #333));
                }
                img {
                    height: .4rem;
                }
            } // &.act span {
            //     &.quick-box {
            //         background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, $activeColor), color-stop(100%, $activeColor));
            //     }
            // }
        }
        p {
            position: absolute;

            top: .74rem;
            left: 0px;
            border-top: 0.06rem solid $yellowColor;
            text-align: center;
            z-index: 100;
        }
    }

    .app-pd-wp {
        position: relative;
        display: block;
        width: 7.5rem;
        min-height: 11.02rem;
        padding-bottom: 1rem;
    }

    .fixedHeight {
        width: 100%;
        height: 1rem;
    }

    .app-swipe-ul {
        margin: 0;
        overflow: hidden;
        width: 7.5rem;
        li {
            position: relative;
            float: left;
            overflow: hidden;
        }
        img {
            width: 100%;
            max-width: 7.5rem;
        }
    }

    .app-pd-list {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;


        li {

            width: 3.7rem;
            float: left;
            margin-right: .1rem;
            margin-bottom: .1rem;
            background: #fff;
            &.add1 {
                -webkit-animation: fadenli 1s .2s ease both;
                -moz-animation: fadenli 1s .2s ease both;
            }
            @-webkit-keyframes fadenli {
                0% {
                    opacity: .5;
                    -webkit-transform: translateY(8px)
                }
                100% {
                    opacity: 1;
                    -webkit-transform: translateY(0px)
                }
            }
            @-moz-keyframes fadenli {
                0% {
                    opacity: .5;
                    -moz-transform: translateY(8px)
                }
                100% {
                    opacity: 1;
                    -moz-transform: translateY(0px)
                }
            }
            &.move1 {
                -webkit-animation: fadeOutli 1s .2s ease both;
                -moz-animation: fadeOutli 1s .2s ease both;
            }
            @-webkit-keyframes fadeOutli {
                0% {
                    opacity: 1;
                    -webkit-transform: translateY(0)
                }
                100% {
                    opacity: 0;
                    -webkit-transform: translateY(10px)
                }
            }
            @-moz-keyframes fadeOutli {
                0% {
                    opacity: 1;
                    -moz-transform: translateY(0)
                }
                100% {
                    opacity: 0;
                    -moz-transform: translateY(10px)
                }
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
            a {
                display: block;
            }
            .info-img {
                width: 3.7rem;
                height: 3.7rem;
                position: relative;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                background-color: #fff;
                img {
                    max-width: 3.7rem;
                    max-height: 3.7rem;
                    vertical-align: middle;
                    text-align: center;
                }
                 :after {
                    content: '';
                    width: 0;
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                    float: left;
                }
            }
            .info-bar {
                padding: .2rem .2rem .2rem;
                background-color: #fff;
                .pro-title {
                    font-size: .28rem;
                    line-height: .32rem;
                    height: .64rem;
                    overflow: hidden;
                    color: #333;
                }
                .e-numb {
                    color: $yellowColor;
                    font-size: .18rem;
                    text-align: left;
                    height: .40rem;
                    padding-top: .3rem;
                    .sale-price {
                        font-size: .28rem;
                        em {
                            font-size: .20rem;
                            padding-right: .02rem;
                        }
                    }
                    .tag-price {
                        color: #ccc
                    }
                    em {
                        font-size: .28rem;
                        padding-right: .08rem;
                    }
                }
            }
        }
    }


    .hor-list {
        li {
            width: 6.9rem;
            padding: .3rem .3rem;
            margin: 0;
            border-bottom: 1px solid #DEDEDE;
            .info-img {
                float: left;
                width: 1.6rem;
                height: 1.6rem;
                padding-right: .2rem;
                img {
                    max-width: 1.6rem;
                    max-height: 1.6rem;
                }
            }
            .info-bar {
                float: left;
                padding: 0;
                width: 5.1rem;
                height: 1.6rem;
                overflow: hidden;
                .pro-title {
                    font-size: .28rem;
                    line-height: .32rem;
                    height: .64rem;
                    overflow: hidden;
                    color: #333;
                }
                .e-numb {
                    color: $yellowColor;
                    font-size: .18rem;
                    text-align: left;
                    height: .40rem;
                    .sale-price {
                        font-size: .28rem;
                        em {
                            font-size: .20rem;
                            padding-right: .02rem;
                        }
                    }
                    .tag-price {
                        color: #ccc
                    }
                    em {
                        font-size: .28rem;
                        padding-right: .08rem;
                    }
                }
            }
        }
    }

    .order {
        li {

            padding: 0rem .3rem;
            margin-bottom: .3rem;
            .order {
                color: #666;
                font-size: .24rem;
                height: .48rem;
                line-height: .48rem;
                float: left;
                width: 6.9rem;
                border-bottom: 1px solid #DEDEDE;

                .orderNum {
                    float: left;
                    i{
                        vertical-align: middle;
                        display: inline-block;
                        width: .45rem;
                        height: .45rem;
                        margin-top: .05rem;
                        margin-right: .1rem;

                     background: url(../images/shop.png) no-repeat;
        background-size: .45rem .45rem;
                    }
                }
                .orderdate {
                    float: right;
                }
            }
            .info-img {
                padding: 0.3rem .2rem .3rem 0;
            }
            .info-bar {
                padding: 0.3rem 0rem;
            }
        }
    }
    .hor-list li .info-bar .e-numb .orderNum { font-size: .24rem; color: #333 ; float: right; }
.order li .shop{
    height: .8rem;
    line-height: .8rem;
}
    .ordersList {
        float: left;
        padding: .2rem 0;
        li {
            float: left;
            background: #fff;
            width: 6.9rem;
            padding: .3rem .3rem;
            border-bottom: 1px solid #DEDEDE;
            a {
                display: block;
            }
            .info-img {
                float: left;
                width: 1.6rem;
                height: 1.6rem;
                margin-right: .2rem;
                position: relative;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                background-color: #fff;
                img {
                    max-width: 1.6rem;
                    max-height: 1.6rem;
                    vertical-align: middle;
                    text-align: center;
                }
                 :after {
                    content: '';
                    width: 0;
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                    float: left;
                }
            }
            .info-bar {
                float: left;
                padding: 0;
                width: 5.1rem;
                background-color: #fff;
                .pro-wp {
                    float: left;
                    height: .64rem;
                    .pro-title {
                        float: left;
                        width: 3.1rem;
                        font-size: .28rem;
                        line-height: .32rem;
                        height: .64rem;
                        overflow: hidden;
                        color: #000;
                    }
                    .e-numb {
                        float: left;
                        width: 2rem;
                        color: $yellowColor;
                        font-size: .18rem;
                        text-align: left;
                        height: .64rem;
                        line-height: .32rem;
                        span {
                            width: 2rem;
                            height: .32rem;
                            overflow: hidden;
                            text-align: right;
                            display: block;
                            &.e-num {
                                i {
                                    display: block;
                                    font-size: .24rem;
                                    color: #999;
                                }
                                 ::before {
                                    content: "";
                                    display: inline-block;
                                    width: .12rem;
                                    height: .12rem;
                                    margin-right: .1rem;
                                    background: url(../images/multiply.png) center no-repeat;
                                    background-size: 100%;
                                    font-weight: 400;
                                }
                            }
                        }
                        em {
                            font-size: .28rem;
                            padding-right: .08rem;
                        }
                    }
                }
            }
            .info-attr {
                float: left;
                width: 5.1rem;
                padding-top: .3rem;
                span {
                    font-size: .24rem;
                    color: #999;
                    margin-right: .2rem;
                }
            }
        }
        .order-pro-list.order-box {
            li {
                border-top: 1px solid $borderColor;
                width: 7.5rem;
                padding: 0;
                margin-bottom: .2rem;
                background: #fff;
                .info-bar {
                    background: none;
                }
                .pro-list {
                    float: left;
                    width: 6.9rem;
                    height: auto;
                    background: #f5f5f5;
                    padding: .1rem .3rem;
                    margin-bottom: .05rem;
                }
                .cart-title {
                    width: 6.9rem;
                    height: .3rem;
                    line-height: .3rem;
                    padding: .28rem .3rem;
                    font-size: .28rem;
                    .cart-dp-titl {}
                    .orderState {
                        color: $redColor;
                    }
                }
            }
        }
    }

    .order-book-tip {
        //      line-height: 1.1rem;
        // height: 1.1rem;
        padding: .3rem .3rem;
        width: 6.9rem;
        .order-list-total-pay {
            color: $redColor;
            font-size: .28rem;
            span.name {
                font-size: .24rem;
            }
            span.price {
                font-size: .38rem;
                vertical-align: middle;
            }
        }
    } //订单地址
    .cart-group {
        .cart-group-item {
            position: relative;
            padding: .2rem .3rem;
            background: #fff;
            .item-icon {
                position: absolute;
                top: 50%;
                margin-top: -.25rem;
                width: .52rem;
                height: .47rem;
                margin-right: .2rem;
                background: url(../images/duihuan_add.png) no-repeat;
                background-size: .52rem .47rem;
            }
            .delivery-lite-info {
                font-size: .28rem;
                width: 6.1rem;
                margin-left: .8rem;
                .impor-info {
                    .ad-name {}
                    .ad-tel {}
                }
                .impor-info-det {
                    color: #999;
                }
            }
        }
    }


    .th-search-container {
        display: block;
        position: relative;
        opacity: 1;
        top: 0px;
        z-index: 10
    } // 排序筛选
    .result-sort {
        width: 7.5rem;
        height: .98rem;
        background: #fff;
        margin-bottom: .1rem;
        z-index: 1;

        position: fixed;
        top: 1.02rem;
        opacity: 1; // display: none;
        overflow: hidden;
        &.five-li {
            border-bottom: 1px solid $borderColor;
            position: relative;
            ul {}
            li {
                width: 1.5rem;
            }
            p {
                width: 1.5rem;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 0rem;
                border-top: 0.06rem solid $redColor;
                overflow: hidden;
                text-align: center;
                z-index: 100;
            }
        }
        li {
            float: left;
            width: 1.875rem;
            text-align: center;
            color: #666;
            font-size: .28rem;
            height: .98rem;
            line-height: .98rem;
            &.cur {
                color: $activeColor;
            }
            &.arrow {
                background: url(../images/sorf.png) 1.25rem center no-repeat;
                background-size: .16rem .34rem;
                display: block;
            }
            &.desc {
                background: url(../images/desc.png) 1.25rem center no-repeat;
            }
            &.asc {
                background: url(../images/asc.png) 1.25rem center no-repeat;
            }
            &.icons-list {
                width: 1.8rem;
                border-left: 1px solid #dedede;

                font-weight: 400;
            }
            &.hor-icon {
                background: url(../images/hor.png) center no-repeat;
                background-size: .48rem .48rem;
            }
            &.ver-icon {
                background: url(../images/ver.png) center no-repeat;
                background-size: .48rem .48rem;
            }
        }
        .cf:after {
            content: "";
            clear: both;
            display: block;
            height: 0;
            overflow: hidden;
        }
    }

    .fix-box {
        position: fixed;
        bottom: 0;
        background: #fff;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .bts1 {
        border-top: 1px solid #dedede;
    }

    .pay-item {
        width: 6.9rem;
        padding: .2rem .3rem;
        margin: 0 auto;
    }

    .cart-footer {
        width: 7.5rem;
        margin: 0 auto;
        padding: 0;
        height: 1rem;
        line-height: 1rem;
        a.th-btn {
            height: 1rem;
            line-height: 1rem;
            border-radius: 0;
            margin-left: .2rem;
        }
    }

    .w20 .title-list p {
        width: 20%;
    }

    .ordersAdd-box {
        padding-top: .2rem;
        .cart-group {
            width: 5.5rem;
            height: 2.44rem;
            border: 1px solid #dedede;
            .cart-group-item {
                .item-icon {
                    width: .26rem;
                    height: .26rem;
                    left: .2rem;
                    margin-top: -.13rem;
                    background: url(../images/duihuan_dizhi.png) no-repeat;
                    background-size: .26rem .26rem;
                }
            }
            .add-null {
                .add-icon {
                    display: inline-block;
                    margin-top: -0.05rem;
                    margin-right: 0.05rem;
                    width: .26rem;
                    height: .26rem;
                    vertical-align: middle;
                    background: url(../images/add-icon.png) no-repeat;
                    background-size: .26rem .26rem;
                }
                .add-name {
                    line-height: 2rem;

                    font-size: .26rem;
                }
            }
            .delivery-lite-info {
                font-size: .28rem;
                width: 4.6rem;
                margin-left: .4rem;
                .impor-info-det {
                    text-align: left;
                    height: .8rem;
                    overflow: hidden;
                }
            }
            .cart-group-choose {
                padding: .2rem;
                span {
                    font-size: .24rem;
                    height: .8rem;
                    line-height: .4rem;
                }
                .round {
                    vertical-align: middle;
                    margin-top: -.05rem;
                    margin-right: .05rem;
                    display: inline-block;
                    border: 1px solid #000;
                    border-radius: 50%;
                    width: .22rem;
                    height: .22rem;
                }
            }
            &.cur {
                .cart-group-choose {
                    padding: .2rem;
                    span {
                        &.add-name {
                            color: $redColor;
                        }
                    }
                    .round {
                        border: 1px solid $redColor;
                        background: url(../images/c-ok.png) no-repeat;
                        background-size: .23rem .23rem;
                    }
                }
            }
        }
    }

    .pdb120 {
        padding-bottom: 1.2rem;
    }

    #PullUp,
    #PullDown {

        margin: 0 auto; // line-height: .5rem;
        width: 100%;
        text-align: center;
        font-size: .24rem; // height: .5rem;
    }

    #PullUp .remove {
        -webkit-animation: fadeOutUp 1s .2s ease both;
        -moz-animation: fadeOutUp 1s .2s ease both;
    }

    @-webkit-keyframes fadeOutUp {
        0% {
            opacity: 1;
            -webkit-transform: translateY(0)
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-20px)
        }
    }

    @-moz-keyframes fadeOutUp {
        0% {
            opacity: 1;
            -moz-transform: translateY(0)
        }
        100% {
            opacity: 0;
            -moz-transform: translateY(-20px)
        }
    }

    .r-gif {
        width: 0.22rem;
        height: 0.22rem;
        background: url(../images/loading.gif);
        background-size: 0.22rem 0.22rem;
        display: inline-block;
        line-height: .4rem;
        margin-right: .1rem;
    }
    //地址
    .user-info {
    background: #fff;
    box-sizing: border-box;
    margin-bottom: .2rem;
}
.user-info i {
    display: block;
    height: .13rem;
    background: url(../images/border.png) no-repeat;
        background-size: 7.5rem 0.13rem;

}
.user-info .left-cont {
    display: inline-block;
    vertical-align: middle;
    width: 6.30rem;
    margin-left: .20rem;
}
.user-info .left-cont dl {
    margin: .20rem 0;
    font-size: .28rem;
}
.user-info .left-cont dl dt {
    display: inline-block;
    vertical-align: middle;
    width: .90rem;
    font-weight: 500;
    text-align: right;
}
.user-info .left-cont dl dd {
    display: inline-block;
    vertical-align: middle;
    width: 5.20rem;
    margin-left: .10rem;
}
.user-info .addressChange{
    text-align:right; height:.45rem; line-height:.30rem;
}
.user-info .addressChange a{
    padding:0 .20rem; color:#0066ff;
}
.order-footer {
    width: 7.50rem;
    height: 1.20rem;
    margin-left: -3.75rem;
    left: 50%;
    bottom: 0;
    background: #fff;
    position: fixed;
    z-index: 20;
    .left-cont {
        float: left;
    height: 100%;
    width: 4.90rem;
    padding: 0rem .20rem;
    line-height: 1.2rem;
    box-sizing: border-box;
   label {
    display: inline-block;
    vertical-align: middle;
    font-size: .28rem;
}
.total-wrap {
    display: inline-block;
    vertical-align: middle;
    margin-left: .20rem;
    .total {
    font-size: .22rem;
 
    color: #ED1A3B;
    .num{
           font-size: .40rem;
   margin-right: .05rem;
    }
    .add{
        font-weight: bold;
        margin:0 .05rem;
    }
}
}
}
.settle {
    float: left;
    width: 2.60rem;
    height: 100%;
    background-image: linear-gradient(90deg, #FE5030, #DD2476);
    color: #fff;
    font-size: .28rem;
    line-height: 1.20rem;
    text-align: center;
}
}


.gray .left-cont .total-wrap .total{
color:#dedede;
}
.gray .settle{
    background: #dedede;
}